.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* supaya tingginya full screen */
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

/* ini bikin animasinya */
@keyframes besar-kecil {
    /* transform untuk mengubah*/
    /* scale untuk mengali ukuran awal */
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }
}

/* ini cara implementasinya */
.scale{
    /* animation nama animasi durasi tipe effect */
    animation: besar-kecil 2s infinite alternate;
    /* alternate = agar animasinya berjalan smooth dari awal (from) ke akhir (to)*/
}

@keyframes kiri-kanan{
 
    0%{
        transform: translateX(-200px);
    }

    50%{
        transform: translateX(200px);
    }

    100%{
        transform: translateX(-200px);
    }
}

.horizontal{
    animation: kiri-kanan 5s infinite;
}

@keyframes berubah-warna {
    0%{
        background-color: #52D3D8;
    }
    25%{
        background-color: #3887BE;
    }
    50%{
        background-color: #38419D;
    }
    75%{
        background-color: #200E3A;
    }
    100%{
        background-color: #52D3D8;
    }
}

.color{
    animation: berubah-warna 5s infinite;
}

@keyframes mobil {

    from{
        transform: translateX(-150vh);
    }
    to{
        transform: translateX(150vh);
    }
}

.car{
    animation: mobil 5s infinite;
}

.transition{
/* transition = transition-duration */
/* transition-duration: 2s; */

/* transition delay gunanya untuk memberikan delay seberapa lama animasi akan dijalan */
transition-delay: 3s;
}

.transition:hover{
    /* skew = italic */
transform: skew(20deg);
}

.filter{
    /* semakin besar blur nya (px), semakin burem */
    filter: grayscale(50%) blur(2px);

    /* filter logic, ada sebuah gambar pengen kita kasih efek hitam putih/ burem/ kecerahannya kita atur dll */
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.star{
    animation: rotate 5s linear infinite;
    font-size: 100px;
}

.shadow h1{
    /* horizontal offset, vertikal offset, blur, color */
    box-shadow: 10px 5px 2px rgba(0, 0, 0, .5);
}



